@using Basilisk.ViewModel.Deliveries
@model IndexDeliveryViewModel
@{
    ViewData["Title"] = Model.Judul;
}
<h1>Total data di tabel Delivery: @Model.TotalDelivery</h1>

<table>
    <form method="get" asp-action="Index">
        <div class="field-row">
            <div class="search">
                <label for="searchName">Delivery Search</label>
                <input id="searchName" type="text" name="searchName" value="@Model.SearchName" />
                <button type="submit" class="cari"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="field-row">
            <a class="btn btn-add" asp-action="Add"><i class="fas fa-plus"></i></a>
        </div>
    </form>
    <thead>
        <tr>
            <th>Action</th>
            <th>ID</th>
            <th>Company Name</th>
            <th>Phone</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GridDelivery)
        {
            <tr>
                <td>
                    <a class="btn btn-update" asp-action="Edit" asp-route-idDelivery="@item.Id"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-delete" asp-action="Delete" asp-route-idDelivery="@item.Id" onclick="return confirm('Apakah mau hapus data ini? : @item.Id');"><i class="fas fa-trash"></i></a>
                    <a class="btn btn-detail" asp-action="Detail" asp-route-idDelivery="@item.Id"><i class="fas fa-info"></i></a>
                </td>
                <td>@item.Id</td>
                <td>@item.CompanyName</td>
                <td>@item.Phone</td>
                <td>@item.StringCost</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Total Data : @Model.TotalData</td>
            <td colspan="4">
                @for (int i = 1; i <= Model.TotalHalaman; i++)
                {
                    <a class="btn btn-add" asp-action="Index" asp-route-page="@i"
                   asp-route-searchName="@Model.SearchName">@i</a>
                }
            </td>
        </tr>
    </tfoot>
</table>
